.caixa {
    background-color: #220234b1;
}

.titulo {
    font-weight: bold !important;
    color: #ffffff !important;
}

.botao {
    color: #ffffff !important;
    border-color: #ffffff !important;
    background-color: #2e0e45;
}

.postagens {
    background-color: #ffffff;
}

.text-decorator-none {
    text-decoration: none;
}